.clear {
	clear: both;
}

html {
	background-color: #f3f3f3;
	font-family: Lato;
}

body {
	font-family: Lato;
	font-size: 16px;
}

#headshot {
	width: 12.5%;
	height: 12.5%;
	border-radius: 50%;
	float: left;
	margin-top: 50px;
	margin-left: 20px;
}

#name {
	float: left;
	margin-top: 30px;
	margin-left: 10px;
	color: #181818;
}

#mainArea {
	margin: 5%;
}

a {
	text-decoration: none;
	color: #444444;
}

ul {
	list-style: none;
}

#contactDetails {
	float: right;
	margin-top: 50px;
	margin-right: 20px;
	color: #444444;
	
}

.sectionTitle {
	float: left;
	width: 25%;
	color: #cf8a05;
	font-style: italic;
	font-family: 'Rokkitt';
}

.sectionContent {
	float: right;
	width: 72.5%;
	color: #181818;
}

.subDetails {
	font-style: italic;
}

p {
	margin-top: 1%;
}

h2 {
	padding: none;
	margin: 1%;
	color: #444444;
}

.subDetails {
	padding: none;
	margin: 0;
	color: #444444;
}

.mainDetails {
	border-bottom: solid;
	padding: 20px;
	border-width: 2px;
	border-color:#cf8a05;
}

body {
	margin: 5%;
	margin-top: 5%;
}

section {
	border-bottom: 1px solid #dedede;
}
section:last {border: none;}

.keySkills {
	display: grid;
	grid: repeat(3, 20px) / auto-flow 150px;
	list-style: none;
}